join-questions {
    .datetime {
        color: #3f3187 !important;
        font-weight: bolder !important;
        font-size: 1.6rem !important;
    }
    .text-input-md {
        color: #3f3187 !important;
        font-weight: bolder !important;
        font-size: 1.6rem !important;
    }
    .range-bar-active {
        background-color: #3f3187 !important;
    }
    .range-knob {
        background-color: #3f3187 !important;
    }
    .alert-md {
        .alert-button {
            color: #3f3187 !important;
        }
    }
    .button-clear-md {
        color: #3f3187 !important;
    }
    .datetime-md .datetime-placeholder {
        color: rgba(63, 49, 135, 0.4) !important;
    }
    textarea::placeholder {
        color: rgba(63, 49, 135, 0.4) !important;
    }
    input::placeholder {
        color: rgba(63, 49, 135, 0.4) !important;
    }
    .select-text {
        color: #3f3187;
        font-weight: bolder;
        font-size: 1.6rem;
    }
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: white;
        background-color: transparent;
    }
    .toolbar-background-md {
        border-color: transparent;
        background: #5C399F;
    }
    .item-datetime .label-md {
        color: #5C399F;
    }
    .header-join {
        height: 16.2rem;
        background-color: #5C399F;
        max-width: 100%;
    }
    .center {
        margin-top: 0rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .no {
        font-size: 6.5rem;
        color: #DD6784;
        display: inline-block;
        font-weight: 500;
    }
    .text-parent {
        display: inline-block;
    }
    .text {
        font-size: 2.2rem;
        color: white;
        font-weight: 500;
    }
    .devider {
        height: 3px;
        background-color: white;
        max-width: 100%;
        margin: 0.5rem 2rem 0rem 2rem;
    }
    [text-wrap] .label-md {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: bold;
    }
    .sk-base-question-presentation ion-label,
    .sk-base-question-presentation .label[stacked] {
        color: #513695;
    }
    .sk-login-page-cont form .list ion-item .item-inner input {
        font-size: 1.6rem;
        color: #3f3187;
        font-weight: bolder;
    }
    .sk-question-section {
        color: #513695;
    }
    .segment-md .segment-button {
        padding: 0px 0px !important;
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: rgba(255, 255, 255, 1);
        font-size: 1.5rem;
    }
    .custom-tab1 {
        max-width: 8rem;
    }
    // .custom-tab2{
    //     .segment-md .segment-button {
    //     }
    // }
    .btn-facebook {
        font-size: 1.4rem;
        padding: 2.5rem 0rem !important;
        background-color: #4267B3;
        font-weight: normal;
    }
    .segment-button {
        text-align: left;
        color: white !important;
    }
    .sk-login-page-cont form .list ion-item {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
    }
    .sk-login-page-cont form {
        width: 88%;
    }
    .sk-login-page-cont form .sk-buttons-inline button {
        color: #fff;
    }
    .sk-login-page-cont form .list .sk-name .item {
        margin-bottom: 1rem;
    }
    .sk-login-page-cont form .list ion-item {
        margin-bottom: 1rem;
    }
    .sk-login-page-cont form .list {
        margin-bottom: 0.5rem;
    }
    .sk-login-page-cont form .sk-buttons button.sk-login {
        background-color: #142C71;
    }
    .sk-login-page-cont form .sk-buttons button {
        max-width: 100%;
        min-width: 0;
        margin: 1rem 0rem;
    }
}

.sk-join-initial-page {
    // background-color: color($colors, sk-page-bg);
    background-color: #54C6D0;
    .sk-join-fields {
        .sk-add-avatar {
            width: 30vh;
            height: 30vh;
            min-height: 196px;
            min-width: 196px;
            @include flex(flex, column, center, center);
            border: 2px solid $sk-join-initial-avatar;
            border-radius: 10px;
            color: $sk-join-initial-avatar;
            font-size: 2rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include margin(6rem auto 4rem auto);
            ion-label {
                flex: none;
            }
            .icon {
                @include margin(null 1.5rem null null);
                font-size: 4.2rem;
            }
        }
    }
}

.sk-login-page {
    //background-image: url("../assets/img/custom-images/index.jpg");
    background-size: cover;
    background-position: center top;
    &-cont {
        @include flex(flex, column, flex-start, center);
        height: calc(100% - 3rem);
        margin-top: 3rem;
        .sk-logo-wrap {
            flex-grow: 2;
            padding: 2rem;
            @include flex(flex, row, center, center);
            margin-bottom: 1rem;
            img {
                width: $sk-login-logo-width;
                height: $sk-login-logo-height;
            }
        }
        form {
            flex-grow: 2;
            @include flex(flex, column, flex-start, stretch);
            width: 70%;
            .list {
                margin-bottom: 2rem;
                .sk-name {
                    .item {
                        margin-bottom: 2rem;
                        .item-inner {
                            background-image: url("../assets/img/custom-images/ic-login-name.svg");
                        }
                    }
                }
                .sk-password {
                    .item-inner {
                        background-image: url("../assets/img/custom-images/ic-login-pass.svg");
                    }
                }
                ion-item {
                    background-color: $sk-login-input-bg;
                    border-radius: 4px;
                    &.item-input:last-child {
                        border: none;
                    }
                    .item-inner {
                        border: 0;
                        background-repeat: no-repeat;
                        background-size: auto 2.4rem;
                        @include background-position(start,
                        center);
                        @include padding (null,
                        null,
                        null,
                        29px);
                        input {
                            font-size: 1.6rem;
                            color: $sk-login-input-fcolor;
                            @include placeholder ($sk-login-input-placeholder);
                        }
                    }
                }
            }
            .sk-buttons {
                @include flex(flex,
                column,
                flex-start,
                stretch);
                flex-grow: 1;
                button {
                    margin-bottom: 2rem;
                    max-width: 100%;
                    min-width: 0;
                    &.sk-login {
                        background-color: $sk-login-inline-signin;
                        margin-bottom: 1.5rem;
                        margin-top: 0;
                    }
                }
                &-inline {
                    @include flex(flex,
                    column,
                    space-between,
                    stretch);
                    button {
                        height: 1.4em;
                        font-size: 1.4rem;
                        padding: 0;
                        color: $sk-login-inline-btn-color;
                        &.sk-signup {
                            color: $sk-login-inline-signup;
                        }
                    }
                }
                .sk-facebook-wrap {
                    text-align: center;
                    margin-top: auto;
                    .sk-facebook-label {
                        overflow: hidden;
                        color: $sk-login-fb-label-color;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        &:after,
                        &:before {
                            background-color: $sk-login-fb-border-color;
                            content: "";
                            display: inline-block;
                            height: 1px;
                            position: relative;
                            vertical-align: middle;
                            width: 50%;
                            @include position(null,
                            null,
                            null,
                            0.5rem);
                            @include margin(null,
                            -50%,
                            null,
                            null)
                        }
                        &:before {
                            @include position(null,
                            0.5rem,
                            null,
                            auto);
                            @include margin(null,
                            0,
                            null,
                            -50%)
                        }
                    }
                    .sk-facebook {
                        margin-top: 0;
                        margin-bottom: 0;
                        width: 4.7rem;
                        height: 4.7rem;
                        min-width: 0;
                        background: url("../assets/img/custom-images/ic-fb.svg");
                        &-button-wrap {
                            padding-top: 1.5rem;
                            @include flex(flex,
                            row,
                            center,
                            center);
                        }
                    }
                }
            }
        }
    }
}

.sk-login-url {
    button {
        color: $sk-login-url-color;
    }
}

@media screen and (max-width: 320px) {
    .sk-login-page {
        .sk-login-page-cont {
            height: auto;
            .sk-logo-wrap {
                margin-bottom: 3rem;
            }
        }
    }
}

@media screen and (max-height: 600px) {
    .sk-login-page .sk-login-page-cont form .sk-buttons {
        min-height: 200px;
        .sk-login {
            margin-bottom: 2vh;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min--moz-device-pixel-ratio: 1.25), only screen and ( -o-min-device-pixel-ratio: 1.25/1), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
    .sk-login-page {
        //background-image: url("../assets/img/custom-images/index@2x.jpg");
        background-color: #54C6D0;
    }
    .sk-signup-page {
        //background-image: url("../assets/img/custom-images/index@2x.jpg");
        background-color: #54C6D0;
    }
}

.sk-join-questions-page {
    //background-color: color($colors, sk-page-bg);
    background-color: #54C6D0;
    .sk-tos {
        button {
            padding: 0;
        }
        ion-label {
            button {
                span {
                    height: auto;
                }
            }
        }
    }
}