user-search-filter{

    .sk-iframe{
        top: 0.4rem;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 0;
        right: 0;
    }

}

.sk-user-search-filter-page {
    background-color: #F0F2F3;
 }
 