<!--
  Generated template for the DealsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<iframe src="https://whosinvegas.com/rits_ads.php" width="320" height="50" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" data-gtm-yt-inspected-1_27="true"></iframe>

<div class="sk-search">
    <ion-searchbar  placeholder="Search for a deal" style="background-color: white;"></ion-searchbar>
</div>

<ion-content>

    <H4 style="color: gray; margin-top: 55%;">
        Great Vegas deals coming soon!
      </H4>
  <!-- <ion-card *ngFor="let cardRes of cardArr">
      <ion-row>
          <div col-6 class="sk-header-img">
            <img style="width: 100%;height: 100%;" src="assets/img/custom-images/couple1.jpg">
  
            <img class="sk-bg-discount" src="assets/img/custom-images/lable.png">
            <div class="sk-discount-text">
              <div>Save</div>
              <div style="font-weight: bolder;">33%</div>
            </div>
          </div>
      
          <div col-6 style="padding-left: 4%;">
            <div class="sk-header-text">Deal Heading</div>
            <div class="sk-title-text">Deal Title</div>
  
            <div style="margin-top: 12%;">
                <div class="sk-detail">
                    <img class="sk-img" src="assets/img/custom-images/loc.png">
                    <span class="sk-text">Satellite, Ahmedabad</span>
                </div>
                <div class="sk-detail">
                    <img class="sk-img" src="assets/img/custom-images/time.png">
                    <span class="sk-text">5  Desc 2019</span>
                </div>
              </div>
          </div>
        </ion-row>
  </ion-card> -->
</ion-content>
